<div class="container">
  <!-- Content here -->
  <div class="d-flex justify-content-center align-items-center mt-5">
    <div class="card p-4 shadow" style="width: 350px;">
      <h3>Registro de usuario</h3>
      <form>
        <div class="mb-3">
          <label for="fullname" class="form-label">Nombre completo:</label>
          <input type="text" [(ngModel)]="usuario.fullName" class="form-control" id="fullname" name="fullname"
            aria-describedby="fullnameHelp">
          <div id="fullnameHelp" class="form-text">El campo no debe de quedar vacio</div>
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Usuario</label>
          <input type="text" [(ngModel)]="usuario.username" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Clave</label>
          <input type="password" [(ngModel)]="usuario.password" class="form-control" id="password" name="password">
        </div>
        <button type="button" class="btn btn-primary" (click)="regitro()">Registrase</button>&nbsp;
        <button type="button" class="btn btn-primary" routerLink="/login">Login</button>
      </form>
    </div>
    </div>
  </div>
